# Project exclude paths
/jacksonjson/target/
/out/
/springMVC-01-servlet/target/
/springmvc-02-hellomvc/target/
/springmvc-03-annotation/target/
/springmvc-03-hellomvc/target/
/springmvc-04-controller/target/